<header>
    <div class="logo">
        <a href="/">Sayt Logosi</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-listing">Add Listing</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/signin">Sign In</a></li>
        </ul>
    </nav>

    <div class="search">
        <input type="text" placeholder="Qidiruv...">
        <button>Qidir</button>
    </div>
</header>