<header>
    <div class="logo">
        <a href="/">Sayt Logosi</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sales">Sotuv</a></li>
            <li><a href="/rentals">Ijara</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/add-listing">Elon Qo'shish</a></li>
        </ul>
    </nav>
    <div class="search">
        <input type="text" placeholder="Qidiruv...">
        <button>Qidir</button>
    </div>
</header>

// Sayt logosi
// Home
// Sotuv
// Ijara
// Sign Up
// Sign In
// Elon Qo'shish
// Qidiruv (search)
