{{> header}}

<h1>Rentals</h1>
<div class="product-grid">
    {{#each products}}
    <div class="product-card">
        <img src="{{this.image_url}}" alt="{{this.title}}">
        <h2>{{this.title}}</h2>
        <p>Price: ${{this.price}} per month</p>
    </div>
    {{/each}}
</div>

{{> footer}}
